<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./assets/favicon.svg" />
    <link rel="stylesheet" href="./assets/output.css" />
    <link rel="manifest" href="./assets/manifest.json" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Get a free random firstname, lastname and email with your domain to use while shopping."
          property="description">
    <meta property="og:title" content="FreeAlias" />
    <meta property="og:description" content="Get a free random firstname, lastname and email with your domain to use while shopping."/>
    <title>FreeAlias</title>
</head>
<body class="flex h-screen items-center justify-center bg-[#292E39]">
<div class="space-y-3 rounded-md bg-[#2E3440] p-6 text-white shadow-md">
    <h1 class="text-center text-2xl font-bold">FreeAlias</h1>
    <div class="space-y-2">
        <div>
            <h2 class="font-bold">Firstname:</h2>
            <p>{{ .FirstName }}</p>
        </div>
        <div>
            <h2 class="font-bold">Lastname:</h2>
            <p>{{ .LastName }}</p>
        </div>
        <div>
            <h2 class="font-bold">Full name:</h2>
            <p>{{ .FullName }}</p>
        </div>
        <div>
            <h2 class="font-bold">Email Address:</h2>
            <p>{{ .Email }}</p>
        </div>
    </div>
    <form class="flex flex-col" method="post" action="/set-domain">
        <label for="domain" class="text-sm">Save Your Domain:</label>
        <input type="text" id="domain" name="domain" class="mt-1 w-full rounded-md border bg-[#4C566A] p-2"/>
        <button type="submit" class="mt-2 w-1/2 rounded-md bg-blue-700 p-2 hover:bg-blue-800">Save</button>
    </form>
    <div class="text-center">
        <p>Made by <a href="https://www.fab1an.dev/" rel="noopener noreferrer external" target="_blank" class="underline">Fabian</a>
        </p>
        <a href="https://gitlab.com/uranderu/freealias" rel="noopener noreferrer external" target="_blank" class="underline">Source Code</a>
    </div>
</div>
</body>
</html>
